<%= render 'user/users/profile' %>
<div class="row">
	<h2>近畿地方の検索結果</h2>
	<% if @events.count == 0 %>
		<p>該当する結果がありませんでした。</p>
	<% else %>
		<div class="search-event-contents">
			<%= render 'user/events/index', events: @events %>
		</div>
	<% end %>
</div>