<%= render 'user/users/profile' %>
<div class="row">
    <div class="search-top-box">
        <div id="map-container">
            <h4 class="col-xs-offset-3 search-text">地方で検索</h4>
        </div>
        <div id="map-phone-container">
            <h4 class="col-xs-offset-3 search-text">地方で検索</h4>
        </div>
    </div>
    <div class="search-bottom-box">
        <div class="col-xs-offset-8 col-xs-4 row">
            <%= search_form_for Event.ransack(params[:q]), url: user_index_path do |f| %>
                <h4 class="search-text">キーワードで検索</h4>
                <div class="input-group">
                    <%= f.search_field :title_or_prefecture_code_cont, class: 'search-field col-xs-9' %>
                    <%= button_tag "", class: "search-button col-xs-3" do %>
                      <i class="fas fa-search text-center"></i>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>