<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= @user.nickname %>さんのShare_Rockへの会員登録が完了しました！</h3>
    <p>思い出をたくさん共有しよう！</p>
  </body>
</html>