<div class="row">
	<h2>「<%= @contact.user.nickname %>」さんからのお問い合わせ</h2>
	<div class="contact-title-box">
		件名：<%= @contact.title %>
	</div>
	<div class="contact-contents-box">
		内容: <%= @contact.contents %>
	</div>
</div>