<div class="row">
	<div class="profile-box">
		<%= attachment_image_tag current_user, :profile_image, :fill, 30, 30, fallback: 'sweet3.jpg', class: "profile-image" %>
		<p class="col-xs-3"><%= current_user.nickname %></p>
		<p class="profile-edit col-xs-offset-6">編集</p>
	</div>
	<div class="profile-active">
		
	</div>
</div>