<div class="row">
	<div class="confirm-message">
		<h2>本当に退会しますか？</h2>
		<div class="confirm-text">
			<p>退会すると、会員登録情報や<br>
			これまでの購入履歴が閲覧できなくなります。<br>
			退会する場合は、「退会する」をクリックしてください。</p>
		</div>
		<%= link_to "退会しない", user_user_path(current_user) %>
		<%= link_to "退会する", user_user_withdraw_path(current_user), method: :patch %>
	</div>
</div>