<div class="row">
	<div class="about-box">

		<h1>Share_Rockとは</h1>
		<h4>
			フェス付きの管理者がコロナでフェスが無くなって.....無くなって.....<br>
			フェスに行った気持ちになりたいと思ってできたアプリです。
		</h4>
		<p>
			フェスでの感想・出来事を共有しあえるSNSです！<br>
			フェス付きのためのアプリです！
	    </p>
	</div>
</div>