<div class="flex">
	<div class="sidebar-left">
	</div>

	<div class="sidebar-right">
		<div class="text-box">
			<p class="top-text">みんなで感動を<br>共有しよう。</p>
			<h4><strong>Share_Rock</strong>をはじめる</h4>
			<%= link_to new_user_registration_path do %>
				<p>会員登録</p>
			<% end %>
			<%= link_to new_user_session_path do %>
				<p>ログイン</p>
			<% end %>
		</div>
	</div>
</div>