<%= attachment_image_tag post.user, :profile_image, :fill, 30, 30, fallback: 'Share.png', class: "profile-image" %>
<p class="col-xs-3"><%= post.user.nickname %></p>
コメント数：<%= post.post_comments.count %>