/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bxslider
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
@import "bootstrap-sprockets";
@import "bootstrap";

h2 {
  margin-bottom: 25px;
}

// navテンプレート

.share-rock-nav {
	height: 150px;
	background-image: image-url("sky.jpg");
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
}

.nav-box {
	display: flex;
	justify-content: flex-end;
}

.nav-box > :first-child {
	margin-right: auto;
}

.navbar-logo {
  width: 40%;
	font-size: 40px;
	color: #000000;
}

.nav-list {
	list-style: none;
	display: flex;
	align-items: center;
}

.nav-item {
	margin: 0 30px;
}

#humbureger-btn, #humburger-menu-box {
  display: none;
}

.humburger-item {
  list-style: none;
  padding: 20px;
}

#humbureger-close-btn, .contents-btn {
  font-size: 20px;
}

// mainページ

main {
  margin: 100px auto;
}

.top-logo {
  font-size: 60px;
}

.login-text {
  margin-top: 20px;
}

.profile-image {
	border-radius: 50%;
}

#user_prefecture_code {
	width: 155px;
}

// kaminari_paginate
.pagination{
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.pagination span{
  text-align: center;
  width: 50px;
  color: rgb(197, 20, 159);
}

.my-page-text-btn {
  margin: 0 20px;
}

.btn-vertical-border {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 5px 11px 5px 15px;
  text-decoration: none;
  color: #67c5ff;
  transition: .4s;
}

.btn-vertical-border:before {
  position: absolute;
  display: inline-block;
  content: '';
  width: 4px;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 3px;
  background:#67c5ff;
}

.btn-vertical-border:after {
  position: absolute;
  display: inline-block;
  content: '';
  width: 4px;
  height: 100%;
  top:0;
  left: 100%;
  border-radius: 3px;
  background:#67c5ff;
}

.btn-vertical-border:hover:before, .btn-vertical-border:hover:after {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}

.cursor {
  cursor: pointer;
}

.link-style {
  font-size: 15px;
  text-decoration: none;
}

.link-style:hover {
  text-decoration: none;
}

.image-field {
    display: none;
}

.img-btn {
  font-size: 25px;
  display: inline-block;
  text-decoration: none;
  background-image: image-url("Share.png");
  background-position: center;
  background-size: cover;
  color: #3a464a;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #2c4952;
  transition: .4s;
}

.img-btn:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
}

.contents-box, .user-post-contents, .search-event-contents, .post-index-box {
  width: 100%;
  padding-top: 50px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}

.contents-post-box, .user-post-box {
  width: 300px;
  padding: 10px 10px 30px 10px;
  margin: 15px;
  background-color: rgba(195, 219, 201, 0.3);
  border: solid 1px  rgba(56, 189, 87, 0.3);
  position: relative;
}

.post-top-box, .event-top-box, .post-user {
  padding: 5px;
}

.image-size {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.post-title {
  display:inline-block;
  border-bottom: ridge 1px #405c47;
}

.post-user {
  height: 40px;
  display: flex;
  align-items: center;
}

.link-color {
  color: black;
}

.icon {
  margin-right: 20px;
}

.follow-link {
  padding: 0 50px;
}

.post-text, follow-text {
  font-size: 15px;
}

.post-date, .event-post-count {
  color: rgba(56, 189, 87, 0.8);
  position: absolute;
  bottom: 1px;
  left: 10px;
}

#artist-box-close-btn, #calendar-box-close-btn, #map-close-btn, #post-form-close-btn, #post-edit-form-close-btn {
  font-size: 25px;
}

.radio-button {
  margin: 20px;
}

#map-box, #post-form-box, .edit-post-box, #contact-form-box {
  padding: 30px 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 1000px;
  height: 670px;
  background: rgba(141, 177, 199, 0.9);
  z-index: 10000;
  display: none;
}

.following-image, .follower-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.post-contants {
  width: 100%;
  margin: 0 auto;
}

.favorite-box {
  width: 100%;
  height: 50px;
  border-bottom: solid 1px rgba(53, 74, 92, 0.5);
  display: flex;
  align-items: center;
}

.fa-comment, .fa-heart {
  transform: scaleX(-1);
  font-size: 20px;
}

.img-prev2, .img-prev3, #image2, #image3 {
  display: none;
}

.back-image-box, .profile-image-box, .post-form-box-image1, .post-form-box-image2, .post-form-box-image3, .admin-event-image {
  position: relative;
}

.post-form-box-image1, .post-form-box-image2, .post-form-box-image3 {
  margin: 5px;
}

.profile-image-btn, .post-form-image-btn1, .post-form-image-btn2, .post-form-image-btn3, .admin-event-image-btn {
  position: absolute;
  top: 45%;
  left: 45%;
}

.update-btn, .event-create-btn {
  padding: 5px;
  font-weight: bold;
  color: #67c5ff;
  background: #fff;
  border: solid 1px #67c5ff;
}

select {
  border-top: none;
  border-left: none;
  border-right: none;
  padding-right: 10px;
}

input, textarea {
  border-top: none;
  border-left: none;
  border-right: none;
}

.post-form-image-btn2, .post-form-image-btn3 {
  display: none;
}

.profile-contents-artist-text {
  padding-left: 15px;
}

.delete-image, .edit-image-btn {
  display: none;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #00BCD4;
  background: #ECECEC;
  transition: .4s;
}

.delete-image {
  border-radius: 0 15px 15px 0;
  position: absolute;
  top: 0;
  left: 0;
}

.delete-image:hover, #edit-image-btn:hover {
  background: #636363;
}

.edit-image-btn {
  border-radius: 15px 0 0 15px;
  position: absolute;
  top: 0;
  right: 0;
}

.bx-viewport {
  position: relative;
}

.comment-box {
  padding: 25px 20px 50px 20px;
}

#favorite-user-box, #comment-user-box, #comment-favorite-user-box, #follower-user-box, #following-user-box, #tag-box {
  color: #000000;
  padding: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 1000px;
  background: rgba(141, 177, 199, 0.9);
  z-index: 10000;
  display: none;
  overflow:auto;
}

.favorite-user, .comment-user, .comment-favorite-user {
  width: 700px;
  padding: 20px;
  margin: 20px auto;
  border-bottom: solid 1px #000000;
}

.follower-user, .following-user {
  width: 700px;
  height: 80px;
  line-height: 80px;
  margin: 20px auto;
  border-bottom: solid 1px #000000;
}

#event-ranking-btn, #active-event-ranking-text-box {
  display: none;
}

.post-next-icon, .event-post-next-icon {
  font-size: 30px;
  position: absolute;
  left: 260px;
  bottom: 10px;
}

.contents-event-box {
  width: 300px;
  padding: 10px 10px 30px 10px;
  margin: 15px;
  background-color: rgba(232, 143, 88, 0.3);
  border: solid 1px  rgba(217, 108, 41, 0.3);
  position: relative;
}

.follow-btn {
  padding: 3px;
  color: #5886d1;
  border: solid 1px #5886d1;
}

.follow-delete-btn {
  padding: 3px;
  color: #e08380;
  border: solid 1px #e08380;
}

.chat-btn {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;
  border-bottom: solid 2px #d27d00;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

.chat-btn:hover {
  color: #FFF;
}

.chat-btn:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}


// footerページ

footer {
  height: 150px;
  background-image: image-url("shibahu.jpg");
  background-position: center;
}


@media screen and (max-width:768px) {

  .top-text {
    font-size: 15px;
  }

  .top-box {
    margin: 0 auto;
    padding: 0 20px;
  }

  .top-logo {
    font-size: 20px;
  }

  .login-text {
    margin-top: 10px;
  }

  .login-text p, .search-text {
    font-size: 10px;
  }

  .top-image-box {
    height: 150px;
  }

  .registration-form-text, #calendar-btn, .edit-profile-form-text, .confirm-text-box, .following-name, .follower-name {
    font-size: 5px;
  }

  .contents-btn {
    font-size: 5px;
    margin: 20px;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 5px 11px 5px 15px;
    text-decoration: none;
    color: #fff;
    transition: .4s;
  }

  .contents-btn:before {
    position: absolute;
    display: inline-block;
    content: '';
    width: 4px;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 3px;
    background: #fff;
  }

  .contents-btn:after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 4px;
    height: 100%;
    top:0;
    left: 100%;
    border-radius: 3px;
    background: #fff;
  }

  .contents-btn:hover:before, .contents-btn:hover:after {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  h2 {
    font-size: 22px;
    padding-left: 20px;
  }

  .nav-item, .share-rock-logo, #map-container {
    display: none;
  }

  #humbureger-btn {
    font-size: 50px;
    padding: 0 30px;
    display: block;
  }

  #humburger-menu-box, #active-event-ranking-text-box {
    padding: 30px 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 70%;
    height: 330px;
    background: rgba(141, 177, 199, 0.9);
    z-index: 10000;
    display: none;
  }

  .contents-event-box {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .user-table-th-text, .follower-user-btn, .following-user-btn, .post-text, .follow-post-btn {
    font-size: 5px;
  }

  .calendar-box {
    width: 100%;
    overflow:auto;
  }

  #calendar, .year-search-box, .follower-user, .following-user {
    width: 100%;
    margin: 0 auto;
  }

  .event-ranking-text {
    margin-left: 18px;
  }

  .event-ranking-text-box {
    display: none;
  }

  #event-ranking-btn {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #f7f7f7;
    border-left: solid 6px #ff7c5c;/*左線*/
    color: #ff7c5c;/*文字色*/
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  }

  .my-page-text-btn {
    font-size: 2px;
    padding: 5px;
  }

  .my-page-text-close-text {
    display: none;
  }

  .icon {
    margin-right: 3px;
  }

  #artist-box {
    width: 70%;
    text-align: center;
    overflow: auto;
  }

  .artist-field {
    margin: 10px;
  }

  .profile-contents-artist-text {
    width: 50%;
  }

  .profile-name {
    font-size: 20px;
  }

  .profile-birthday, .profile-address {
    font-size: 3px;
    margin: 0 5px;
  }

  .show-background-image-box, .back-image {
    height: 200px;
  }

  .show-image {
    width: 100px;
    height: 100px;
  }

  .back-image-box {
    width: 100%;
  }

  .back-image-btn, .profile-image-btn {
    position: absolute;
    top: 40%;
    left: 40%;
  }

  .profile-img-prev {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }

  .edit-profile-image-box, .edit-profile-contents-box {
    width: 100%;
  }

  #map-box {
    padding: 5px 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 90%;
    height: 330px;
    background: rgba(141, 177, 199, 0.9);
    z-index: 10000;
    display: none;
  }

  #map {
    height: 250px;
    margin: 0 auto;
  }

  .event-show-image-box {
    width: 330px;
    height: 330px;
    margin: 0 auto;
  }

  .event-show-image {
    width: 310px;
    height: 310px;
  }

  .event-show-box {
    margin: 0 auto;
  }

  .contents-post-box {
    margin: 15px auto;
  }

  #post-form-box, .form-comment-box,  #following-user-box, #follower-user-box, #contact-form-box {
    padding: 30px 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 660px;
    background: rgba(141, 177, 199, 0.9);
    z-index: 10000;
    display: none;
    overflow: auto;
  }

  .follow-link {
    padding: 0 20px;
    font-size: 5px;
  }

  .following-profile-image, .follower-profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .post-image-form {
    width: 100%;
  }

  .post-form-box-image1, .post-form-box-image2, .post-form-box-image3 {
    margin-left: 7px;
  }

  .post-image-form {
    display: flex;
    flex-direction: column;
  }

  .post-comment-form-text, .post-comment-form-field {
    width: 100%;
  }

  .post-comment-form {
    width: 100%;
  }

  .show-post-name {
    font-size: 5px;
  }

  .show-post-image {
    height: 365px;
  }

  .form-comment-box, #tag-box {
    padding: 30px 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 500px;
    background: rgba(141, 177, 199, 0.9);
    z-index: 10000;
    display: none;
    border-radius: 0;
  }

  .form-comment-box:before {
    opacity: 0;
  }

  .comment-form-field {
    width: 100%;
    height: 200px;
  }

  .replay-comment-responsive-btn {
    font-size: 2px;
    margin-left: 0 40px;
    margin-right: 0;
  }

  .replay-comment-responsive-btn2 {
    font-size: 2px;
    margin: 0 2px;
  }

  .replay-comment-responsive-close {
    display: none;
  }

  .search-top-box, .search-bottom-box {
    width: 100%;
  }

  .search-field {
    width: 100px;
    margin-left: -60px;
  }

  .fa-search {
    margin-left: -5px;
  }

   #map-phone-container {
    display: block;
  }

  .contact-field-text, .contact-field{
    width: 100%;
  }

  .chat-form-box, .chat-message-box {
    font-size: 15px;
    margin: 20px;
  }

  .chat-form-field {
    width: 150px;
  }

  .follow-btn, .follow-delete-btn, .chat-btn {
    font-size: 1px;
  }

}




































