// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-event-contents {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}

.admin-event-title {
  font-size: 20px;
  padding-top: 20px;
  margin-left: 20px;
}

.admin-event-image {
  width: 330px;
  height: 250px;
  padding: 10px 0;
  margin: 0 auto;
}

.admin-event-text {
  font-size: 20px;
  padding-top: 20px;
  margin-left: 20px;
}