// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//ーーーaboutページーーー

.about-box {
  width: 100%;
  position: relative;
}

.about-text-box {
  padding: 40px;
}

.about-image-box {
  width: 300px;
  height: 300px;
}

.about-image1 {
  margin: 0 auto;
  background-image: image-url("chat.png");
  background-size: cover;
  background-position: center;
}

.about-image2 {
  background-image: image-url("post.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

.about-image3 {
  background-image: image-url("search.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.about-box h1, .about-box h4, .about-box p {
  margin: 50px 0;
}


//ーーーtopページーーー

.top-box {
  width: 100%;
  margin: 50px auto;
  position: relative;
}

.top-text {
  line-height: 300px;
  font-size: 60px;
}

.top-right-box, .top-left-box, .bottom-center-box {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-center-box {
  height: 400px;
  background-image: image-url("fes.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}

.center-box {
  height: 400px;
  background-image: image-url("fes2.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}

.right-box {
  height: 400px;
  background-image: image-url("fes3.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}