// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// aboutページ

.about-box {
  width: 100%;
  padding: 200px;
}


// topページ

.top-box {
  width: 100%;
  margin: 50px auto;
  position: relative;
}

.top-text {
  line-height: 300px;
  font-size: 60px;
}

.top-right-box, .top-left-box, .bottom-center-box {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-center-box {
  height: 400px;
  background-image: image-url("fes.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}

.center-box {
  height: 400px;
  background-image: image-url("fes2.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}

.right-box {
  height: 400px;
  background-image: image-url("fes3.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}