<!-- アーティスト一覧 -->
<% artists.each do |artist| %>
	<span class="profile-contents-artist-text">
		・<%= artist.like_artist %>
		<%= link_to user_user_artist_path(user, artist), method: :delete, remote: true do %>
			<i class="fas fa-times-circle"></i>
		<% end %>
	</span>
<% end %>