<!-- 好きなアーティストが同じユーザー一覧 -->
<div class="row">
	<h2>「<%= @artist.like_artist %>」を好きなユーザー</h2>
	<div class="artist-index-box">
		<% if @artists.count == 0 %>
			<h4 style="margin-left: 40px;">該当するユーザーがいません</h4>
		<% else %>
			<% @artists.each do |artist| %>
				<div class="artist-index-user">
					<%= link_to user_user_path(artist.user), class: 'link-style link-color' do %>
						<%= attachment_image_tag artist.user, :profile_image, fallback: 'Share.jpg', size: '50x50', class: 'profile-image' %>
						<span class="follower-name"><%= artist.user.nickname %></span>
					<% end %>
				</div>
			<% end %>
		<% end %>
	</div>
</div>