// Place all the styles related to the user::events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user-post-contants, .user-event-contents {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
}

.user-event-contents {
	padding-bottom: 70px;
}

.user-post-box, .user-event-box {
	width: 300px;
	padding: 10px;
	margin: 15px;
	background-color: #a1c5d4;
}

.user-post-favorite-box, .user-event-post-box {
	padding-top: 5px;
}

.user-event-image-box, .user-post-image-box {
	width: 280px;
	height: 280px;
	margin: 0 auto;
}

.user-event-image, .user-post-image {
	width: 280px;
	height: 280px;
}

.year-text {
	padding: 25px;
}

.fc-sun { color: red; }  /* 日曜日 */
.fc-sat { color: blue; } /* 土曜日 */
.fc-hol {color: red;}
