// Place all the styles related to the user::events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user-event-index-box {
  width: 100%;
}

.event-text-box {
  padding: 10px;
}

.event-ranking-text {
  margin-left: 50px;
}

.event-show-box {
  width: 100%;
}

.event-address {
  display:inline-block;
  border-bottom: ridge 1px #405c47;
  margin: 10px 0;
}

.year-search-box {
  padding: 50px 0;
}

.year-link {
  color: #7d8e99;
}

.year-text {
  padding: 25px;
}

.event-show-contents-box {
  width: 100%;
  margin: 0 auto;
}

.event-show-image-box {
  width: 520px;
  height: 520px;
  margin: 0 auto;
  background-color: rgba(232, 143, 88, 0.3);
}

.event-show-image {
  width: 500px;
  height: 500px;
  margin: 10px;
}

.event-show-text-box {
  padding: 50px 0;
}

.event-show-explanation {
  width: 50%;
  line-height: 25px;
}

.post-create-btn {
  padding: 5px;
  font-weight: bold;
  color: #fff;
  border: solid 2px #fff;
  background-color: rgba(0,0,0,0)
}

// カレンダー

.calendar-box {
  color: #7d8e99;
  padding: 30px 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 90%;
  height: 550px;
  background-color: #fff;
  border: solid 2px #bfd5e3;
  z-index: 9;
  display: none;
}

#calendar {
	width: 500px;
}

#calendar-btn {
  font-size: 20px;
}

.fc-view, #calendar td, #calendar th {
  border: solid 1px rgba(227, 166, 116,0.5);
}

#calendar th {
  background-color: rgba(227, 166, 116, 0.4);
}

.fc-button-group button {
  background-color: rgba(227, 166, 116, 0.4);
}

.fc-sun {
  color: red;
}                // 日曜日

.fc-sat {
  color: blue;
}                // 土曜日

// マップ

#map {
  height: 540px;
  margin: 0 auto;
}
