// Place all the styles related to the user::Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-event-text {
  font-size: 15px;
  padding-top: 20px;
  margin: 0 20px;
  display: none;
}