// Place all the styles related to the user::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show-background-box {
	width: 100%;
	height: 300px;
	position: relative;
	opacity: 0.7;
}

.show-image-box {
	width: 100%;
	height: 300px;
	display: flex;
	align-items: center;
	color: #fff;
	position: absolute;
	top: 150px;
	left: 200px;
}

.show-image {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.profile-contents {
	padding-top: 20px;
}

.back-image {
	width: 100%;
	height: 300px;
}

.show-post-contants {
	width: 1070px;
	margin: 0 auto;
	display: flex;
  	flex-flow: row wrap;
}

.show-post-box {
	width: 300px;
	height: 500px;
	padding: 10px;
	margin: 15px;
	background-color: #a1c5d4;
}

.show-post-favorite-box {
	padding-top: 5px;
}

.image-size {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.post-user {
	height: 40px;
	display: flex;
	align-items: center;
}

.post-box {
	padding: 10px;
}