// Place all the styles related to the user::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show-background-box {
	width: 100%;
	height: 300px;
	opacity: 0.7;
	font-size: 17px;
}

.show-image-box {
	width: 100%;
	display: flex;
	align-items: center;
	color: black;
	position: relative;
	top: -30px;
	left: 0;
}

.show-image {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border :solid 1px #fff;
}

.profile-contents {
	padding-bottom: 80px;
}

.back-image {
	width: 100%;
	height: 300px;
}

.show-post-contants {
	width: 1070px;
	padding-top: 50px;
	margin: 0 auto;
	display: flex;
  	flex-flow: row wrap;
}

.show-post-title {
	display:inline-block;
	border-bottom: ridge 1px #405c47;
}

.image-size {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.post-user {
	height: 40px;
	display: flex;
	align-items: center;
}

.post-user-box {
	padding: 5px;
}

.post-box {
	padding: 10px;
}

.link-color {
	color: black;
}

.link-group, .show-name {
	margin: 0 20px;
	text-shadow:
    1px 0 0 #fff,
    0 1px 0 #fff,
    -1px 0 0 #fff,
    0 -1px 0 #fff
}

.profile-date-box {
	border-bottom: solid 1px #405c47;
	padding: 25px;
}

.profile-name {
	font-size: 25px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.profile-contents-text {
	padding: 25px;
}

.profile-follow-box {
	height: 120px;
	text-align: center;
	border-bottom: solid 1px #405c47;
}

.icon {
	margin-right: 20px;
}

.post-text, .follow-text {
	font-size: 15px;
}

.show-post-date {
  color: rgba(56, 189, 87, 0.8);
  position: absolute;
  bottom: 1px;
  left: 10px;
}

#artist-box {
	padding: 30px 30px;
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 800px;
	height: 400px;
	background: #b5c9af;
	z-index: 9;
	display: none;
}

.artist-form {
	width: 100%;
	margin: 0 auto;
	padding: 25px 0;
	display: flex;
	justify-content: center;
}

.like-artist-text {
	margin: 15px 0;
}

#artist-box-close-btn {
	font-size: 25px;
}

.profile-contents-artist-box {
	padding: 45px 0;
	border-bottom: solid 1px #405c47;
}

.profile-contents-artist-text-box {
	display: flex;
	align-items: center;
	justify-content: space-arround;
	flex-wrap: wrap;
}